@model StudievenDK.Controllers.MainlistViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Hovedliste</h1>

<div class="navbar">
    <form style="display: inline-block;" asp-controller="Mainlist" asp-action="Index">
        <input type="text" placeholder="Search.." name="SearchString">
        <input type="submit" value="Filter" />
        <div id="myDIV" class="container">
            &nbsp;&nbsp;
            <div class="row">
                <p class="KStyle" >Kategorier: </p>
            </div>
            <div class="row">
                <p class="fancyKategorier">Fakultet:</p>
                <select class="filter" name="fakultet">
                    <option value="0">Vælg Fakultet</option>
                    @foreach (var item in Model.Faculties)
                    {
                        <option>
                            @item
                        </option>
                    }
                </select>
            </div>
            <div class="row">
                <p class="fancyKategorier">Studieretning:</p>
                <select class="filter" name="studieretning">
                    <option value="0">Vælg Studieretning</option>
                    @foreach (var item in Model.Programmes)
                    {
                        <option>
                            @item
                        </option>
                    }
                </select>
            </div>
            <div class="row">
                <p class="fancyKategorier">Semester:</p> 
                <select class="filter" name="semester">
                    <option value="0">Vælg Semester</option>
                    <option value="1">1. Semester</option>
                    <option value="2">2. Semester</option>
                    <option value="3">3. Semester</option>
                    <option value="4">4. Semester</option>
                    <option value="5">5. Semester</option>
                    <option value="6">6. Semester</option>
                    <option value="7">7. Semester</option>
                </select>
            </div>
            <div class="row">
                <p class="fancyKategorier">Fag:</p>
                <select class="filter" name="Fag">
                    <option value="0">Vælg Fag</option>
                    @foreach (var item in Model.Courses)
                    {
                        <option>
                            @item
                        </option>
                    }
                </select>
            </div>
        </div>
    </form>
    @*<button class="Trekant" onclick="myFunction()"></button>*@
    <img class="Trekant" id="triangle" src="~/Pictures/Image-Source-PlusPNG.com.png" width="20" onclick="myFunction(),rotateTriangle()"/>
</div>


<hr style="background-color:#278CCA">

<div id="CasePreviews">
@foreach (var item in Model.Cases)
{
    <div id="CaseContent" style="overflow: hidden; background-color: #D3E9F4; font-family: Arial; border-radius: 10px; display: block; margin-bottom:10px"> @* Virkede ikke i CSS, hjælp Poul *@
        <div id="Caseheader">
            @Html.DisplayFor(modelItem => item.Subject)
        </div>
        <div class="row">
            <div class="collum">
                Science & Technology
            </div>
            <div class="collum">
                Softwareteknologi
            </div>
            <div class="collum">
                4. Semester
            </div>
            <div class="collum">
                @Html.DisplayFor(modelItem => item.CourseName_fk)
            </div>
        </div>
        
    </div>
}
</div>



@*<table class="table">
    <thead>
    <tr>
        <th>
            Subject
        </th>
        <th>
            Faculty
        </th>
        <th>
            Programe
        </th>
        <th>
            Term
        </th>
        <th>
            Course
        </th>
    </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Cases)
        {
        <tr style="overflow: hidden; background-color: #D3E9F4; font-family: Arial; border-radius: 10px; display: block; margin-bottom:10px">  Virkede ikke i CSS, hjælp Poul 
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>

            <td>
                Science & Technology
            </td>
            <td>
                Softwareteknologi
            </td>
            <td>
                4. Semester
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName_fk)
            </td>
            <td>
            <a asp-action="Edit" asp-route-id="@item.CaseId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CaseId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.CaseId">Delete</a>
        </td>
        </tr>
        }
    </tbody>
</table>*@

